@tailwind base;
@tailwind components;
@tailwind utilities;

.user-profile {
  position: absolute;
  border-radius: 50%;
  background-color: #875c91;
  width: 28px;
  height: 28px;
  align-content: center;
  align-self: center;
  text-align: center;
  font-family: cursive;
  cursor: pointer;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
  left: 0;
}

.user-profile:hover {
  background-color: #c97cdb;
}

.user-profile-extended {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: -300px;
  background-color: #171c23;
  border: 1px solid #cccccc33;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(22, 22, 42, 0.1);
  padding: 16px;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.user-profile-extended span {
  color: rgb(216, 216, 216);
}

.user-profile-extended.show {
  left: -3px;
}

#logout-btn {
  margin-top: 20px;
  width: 40%;
  left: 0;
  padding: 4px 5px;
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  background-color: #e2a8a8;
  border-radius: 3px;
  border: none;
  transition: all 0.3s ease;
  color: #242725;
}

#profile-close-btn {
  margin-right: -10px;
  margin-top: -20px;
}

.loader {
  border: 4px solid #292424;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: block;
  align-self: center;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #151b23;
  margin: 0;
}

#nav-bar {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #2a2323;
  color: aliceblue;
  position: sticky;
  top: 0;
  z-index: 100;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 5px;
}

#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2px;
}

.search-input {
  width: 350px;
  padding: 10px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  background-color: #17181d;
  color: whitesmoke;
  font-family: monospace;
}

.search-icon {
  margin-left: -25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search-icon:hover {
  transform: scale(1.2);
}

.search-icon:active {
  transform: scale(0.9);
}

.search-result-container {
  position: absolute;
  transform: translateX(50%);
  transform: translateY(50%);
  margin-top: 45px;
  background-color: #151b23;
  border: 1px solid #323232;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  overflow-x: hidden;
  z-index: 9999;
  transition: opacity 0.2s ease-in;
}

.results-list {
  list-style: none;
  padding: 0px 16px 10px 16px;
  border-radius: 7px;
  text-align: center;
  font-size: 11px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 65vw;
  max-width: 350px;
}

.result-item {
  border-bottom: 1px solid #e1e1e1;
  padding: 5px;
}

.result-item > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  color: whitesmoke;
}

.result-item > span:first-child {
  font-weight: 500;
  flex-basis: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.result-item button {
  flex: 1;
  min-width: 40px;
  max-width: 60px;
  border-radius: 2px;
  transition: transform 0.3s ease;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 9px;
  border: none;
  height: 20px;
  text-align: center;
}

.result-item a {
  text-decoration: none;
  color: black;
}

.result-item button:hover {
  background-color: #0e79ec;
  transform: scale(1.05);
}

.result-item button:active {
  transform: scale(0.95);
}

.close-modal {
  float: right;
  cursor: pointer;
  color: red;
  font-size: 15px;
  border: none;
  width: auto;
  height: auto;
  transition: all 0.3s ease;
  margin: -7px -4px 0 0;
  position: sticky;
  z-index: 10;
}

.close-modal:after {
  content: "✖";
}

.close-model:hover {
  transform: scale(1.1);
}

.close-model:active {
  transform: scale(0.9);
}

.search-list-btn {
  height: 20px;
  text-align: center;
  background-color: #518fd1;
  border: 1px solid rgb(0, 79, 206);
}

#details-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card {
  background: #161924;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #2a2a2a;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.card button {
  font-size: 12px;
  padding: 1px 10px;
  border: none;
  border-radius: 2px;
  transition: transform 0.3s ease;
  color: rgb(0, 0, 0);
  font-weight: 600;
  width: 100px;
}

.card button:hover {
  transform: scale(1.05);
}

.card button:active {
  transform: scale(0.95);
}

.card-header {
  font-weight: 500;
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 15px;
  width: 90%;
  margin-left: 13px;
}

.card-content {
  font-size: 14px;
  color: #bbbbbb;
  line-height: 1.3;
}

.card-content > div {
  margin-bottom: 10px;
}

.card-content label {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

label p {
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
}

.fontBolder {
  font-size: 12px;
  font-weight: 700;
}

.orders,
.info {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.buy-orders,
.sell-orders,
.sub-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-info {
  gap: 5px;
}

.orders-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 98vw;
  background-color: #151b23;
  border: 1px solid #373737;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orders-list h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #257415;
}

.buy-order-list,
.sell-order-list,
.other-order-list {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;
  width: 100%;
}

.buy-order-list h5,
.sell-order-list h5,
.other-order-list h5,
.place-order-list h5 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.place-order-list {
  position: absolute;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #192029f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px #00000073;
  padding: 20px 5px 20px 5px;
  min-width: 250px;
  padding: 10px;
  font-size: 12px;
  width: 20%;
}

.place-order-list button {
  cursor: pointer;
  align-self: center;
  width: auto;
  padding: 5 15px 5 15px;
  background-color: #353535;
  border: 1px solid rgb(62 62 62);
  border-radius: 3px;
  color: whitesmoke;
  transition: transform 0.3s ease;
}

.place-order-list button:hover {
  transform: scale(1.05);
}

.place-order-list button:active {
  transform: scale(0.95);
}

h5 {
  color: #007bff;
  text-align: center;
  margin-bottom: 5px;
}

.place-order-list form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.place-order-list label {
  margin-top: 5px;
  margin-right: 8px;
  justify-content: center;
  font-weight: bold;
  color: #ffffff;
}

.place-order-list input[type="number"],
.place-order-list input[type="text"] {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  line-height: 1.5;
  background-color: #3a3a3a;
  color: whitesmoke;
}

.place-order-list button[type="submit"] {
  width: 50%;
  padding: 4px 3px;
  background-color: #3e7f4d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-self: center;
  font-size: 13px;
  font-weight: 600;
}

.place-order-list button[type="submit"]:hover {
  transform: scale(1.05);
  background-color: #218838;
}

.place-order-list button[type="submit"]:active {
  transform: scale(0.95);
}

#place-order-top-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-family: monospace;
  color: black;
}

#place-order-top-label label {
  padding: 2px 2px;
  background-color: #616161;
  border-radius: 3px;
  margin: 5px 5px;
  min-width: 70px;
}

.buy-order-list h5 {
  color: #82dbcb;
}

.sell-order-list h5 {
  color: #e99090;
}

.other-order-list h5 {
  color: rgb(45, 43, 43);
}

.buy-order-list label {
  font-size: 10px;
  font-weight: 700;
  color: #45f8f8;
}

.sell-order-list label {
  font-size: 10px;
  font-weight: 700;
  color: #ff9898;
}

.other-order-list label {
  font-size: 10px;
  font-weight: 700;
  color: rgb(66, 69, 31);
}

.buy-order-list span {
  font-size: 12px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.sell-order-list span {
  font-size: 12px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.other-order-list span {
  font-size: 12px;
  font-weight: 500;
  color: "white";
}

.single-order-list button {
  padding: 3px 8px;
  margin-right: 10px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.5s ease;
  min-width: 50px;
}

.single-order-list button:hover {
  background-color: #1b40e7;
  transform: scale(1.05);
}

.single-order-list button:active {
  transform: scale(0.95);
}

.single-order-list {
  font-size: 12px;
  background-color: #151b23;
  border: 0.5px solid #2d2929;
  border-radius: 4px;
  overflow-y: auto;
  padding: 5px;
  margin: 5px;
}

.single-order-list span {
  color: #d1d1d1;
}

.modify {
  background-color: rgb(66, 125, 219);
}

.cancel {
  background-color: rgba(255, 157, 157, 0.9);
  color: black;
}

.auto {
  background-color: rgba(151, 255, 236, 0.86);
  color: black;
}

#msg {
  font-size: 13px;
  background-color: #caffa7;
  color: #242725;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.nifty-tag,
.order-tag {
  margin: 1px 0;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  background-color: #0e0e2c6f;
  border-color: #000000;
  min-height: 40px;
}

#orders-tag {
  font-size: 11px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.order-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-radius: 0;
  margin: 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 2px;
  background-color: #0e0e2c6f;
}

.disabled-button {
  filter: blur(1px);
  opacity: 0.1;
  cursor: not-allowed;
}

#user-id-text {
  font-weight: 600;
  padding: 3px 10px;
  font-family: monospace;
}

#nav-bar-cash-balance {
  font-weight: 600;
  padding: 3px 10px;
  font-family: monospace;
  color: #ff9898;
}

#nav-bar-total-cash {
  font-weight: 600;
  padding: 3px 10px;
  font-family: monospace;
  color: #45f8f8;
}

#nav-bar-pl {
  font-weight: 600;
  padding: 3px 10px;
  font-family: monospace;
  color: #f5ff33;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-bottom: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

#depth-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 5px;
  color: white;
  width: 100%;
  max-width: 700px;
  font-size: 10px;
  text-align: center;
  align-content: center;
  overflow-x: auto;
}

#depth-toolbar span {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

#depth-toolbar label {
  margin-right: 5px;
}

#depth-toolbar input[type="checkbox"] {
  accent-color: #18bc9c;
}

#depth-toolbar button {
  background-color: #18bc9c;
  color: white;
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 10px;
}

#depth-toolbar button:hover {
  background-color: #16a085;
}

#depth-toolbar input[type="file"] {
  border: 1px solid #34495e;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/* Styling for the table */
#table-list {
  margin-top: 5px;
  overflow-x: auto;
  width: 99%;
  max-width: 700px;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 2px;
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table th,
table td {
  padding: 5px;
  border-bottom: 1px solid #00ccff;
  font-size: 12px;
  font-family: monospace;
}

table th {
  background-color: #3498db;
  color: white;
  position: sticky;
  top: 0;
}

table tr {
  font-size: 12px;
  background-color: #000000;
  color: rgb(203, 203, 203);
}

table tr:nth-child(even) {
  background-color: #e0e1f9;
}

table tr:hover {
  background-color: #bdc3c7;
}

.font-red {
  color: #f46c6c;
}

.font-green {
  color: #77d677;
}

.position-container {
  font-size: 12px;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 3px;
  color: #333;
}

.stock-positions {
  min-width: 320px;
  max-width: 1000px;
}

.stock-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 3px 0;
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stock-name,
.stock-details {
  flex: 1;
  text-align: center;
}

.stock-name {
  font-weight: bold;
  color: #2c3e50;
}

.stock-details {
  color: #34495e;
}

.bar-container {
  margin-bottom: 8px;
  min-height: 39px;
  color: #dfdfdf;
}

.arrowContainer .arrow {
  display: flex;
  position: absolute;
  width: 12px;
  height: 30px;
  background-color: #00000000;
  transition: left 0.4s ease, opacity 0.4s ease;
}

.arrow img {
  margin-top: -19px;
  margin-left: -10px;
  max-width: 20px;
}

.arrow span {
  margin-left: -5px;
  margin-top: -2px;
  font-size: 11px;
  font-weight: 600;
  color: #ffc200;
}

.range {
  position: relative;
  background-color: #c6c6c6;
  border-radius: 5px;
  flex-shrink: 0;
  height: 12px;
  margin: 7px 0 2px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  border-width: 0px;
}

.range-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background-color: #ccc;
  transition: all 0.4s ease;
  margin-top: 0px;
}

.range .range-bar {
  background-color: #24b29b;
  border-style: solid;
  border-width: 0 0.5px;
  height: inherit;
  position: relative;
}

.bar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#dynamic-popup {
  position: absolute;
  background-color: #313537;
  border: 1px solid #000000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1000;
  border-radius: 5px;
  opacity: 0.95;
}

#dynamic-popup p {
  text-align: center;
  margin: 0 0 10px;
  font-size: 13px;
  font-weight: bold;
  color: whitesmoke;
}

#dynamic-popup button {
  margin: 3px;
  min-width: 40px;
  padding: 3px 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #007bff;
  transition: background-color 0.2s ease;
}

#dynamic-popup button:hover {
  background-color: #0056b3;
}

#chart-popup {
  position: absolute;
  background-color: #141414;
  border: 1px solid #000000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1000;
  border-radius: 5px;
  opacity: 1;
  /* transition: all 0.2s ease-in-out; */
  left: 50%;
  transform: translateX(-50%);
}

#trade-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 3px 0;
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#trade-container h1 {
  text-align: center;
}

#trade-list {
  list-style: none;
  padding: 0;
  color: white;
}

.trade-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.trade-item:last-child {
  border-bottom: none;
}

.profit {
  color: #45f8f8;
}

.loss {
  color: #ff9898;
}

#position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  background-color: #1f2123;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 12px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#position div {
  padding: 5px 10px;
}

#position span {
  color: whitesmoke;
}

#dynamic-popup-order {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1b;
  border: 1px solid #000000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1000;
  border-radius: 5px;
  color: white;
  align-items: center;
  justify-content: center;
}

.place-order-list-update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0);
  padding: 20px 5px 20px 5px;
  min-width: 30%;
  margin: auto;
  padding: 10px;
  font-size: 12px;
}

.place-order-list-update span {
  align-self: self-end;
}

.place-order-list-update button {
  cursor: pointer;
  align-self: center;
  width: auto;
  padding: 5 15px 5 15px;
  background-color: #599ee8;
  border: 1px solid rgb(0, 79, 206);
  border-radius: 3px;
  color: whitesmoke;
  transition: transform 0.3s ease;
}

.place-order-list-update button:hover {
  transform: scale(1.05);
}

.place-order-list-update button:active {
  transform: scale(0.95);
}

h5 {
  color: #007bff;
  text-align: center;
  margin-bottom: 5px;
}

.place-order-list-update form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.place-order-list-update label {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

.place-order-list-update p {
  color: whitesmoke;
}

.place-order-list-update input[type="number"],
.place-order-list-update input[type="text"] {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  line-height: 1.5;
  width: 50%;
  background-color: #3a3a3a;
  color: whitesmoke;
}

.place-order-list-update button[type="submit"] {
  width: 60%;
  padding: 6px 5px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-self: center;
  font-size: 14px;
  font-weight: 600;
}

.place-order-list-update button[type="submit"]:hover {
  transform: scale(1.05);
  background-color: #218838;
}

.place-order-list-update button[type="submit"]:active {
  transform: scale(0.95);
}

#place-order-update-top-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-family: monospace;
  color: black;
}

#place-order-update-top-label label {
  padding: 1px 30px;
  background-color: #616161;
  border-radius: 3px;
  margin: 5px 5px;
}

#card-header-btns {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

#card-header-btns img {
  border-radius: 5px;
  padding: 2px 4px;
  background-color: rgb(39 61 95);
  width: 18px;
  transition: all 0.3s ease;
}

#card-header-btns img i :hover {
  transition: all 0.3s ease;
  width: 25px;
}

#card-header-btns button {
  width: auto;
  background-color: #00000000;
}

.save-chart-btn {
  font-size: 10px;
  background-color: #9494ae;
  border: none;
  border-radius: 3px;
  padding: 1px 6px;
  cursor: pointer;
}

.save-chart-btn:hover {
  background-color: #b9b9ff;
}

#chart-popup-timeframe {
  background-color: #000000;
  color: wheat;
  border-color: #454545;
  border-radius: 5px;
  font-size: 12px;
}

#chart-popup-timeframe:hover {
  background-color: #1f1d1d;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141313;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 4px 3px 10px rgb(251 219 219 / 18%);
  z-index: 1000;
  text-align: center;
  color: #ed8484;
  font-size: 14px;
  font-weight: 500;
  font-family: monospace;
  width: 90%;
  max-width: 280px;
}

.popup button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blur {
  filter: blur(3px);
  opacity: 0.3;
}

.popup-overlay-watch-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10001;
}

#edit-watch-list {
  font-size: 14px;
  color: #909927;
  cursor: "pointer";
  transition: "all 0.2s";
  text-align: "right";
  align-self: flex-end;
  margin-right: 5px;
}

#save-watch-list-local {
  font-size: 14px;
  color: #909927;
  cursor: "pointer";
  transition: "all 0.2s";
  text-align: "right";
  align-self: flex-end;
  margin-right: 5px;
}

#save-watch-list-local:hover {
  transform: scale(1.1);
}

#save-watch-list-local :active {
  transform: scale(1.1);
}

#edit-watch-list:hover {
  transform: scale(1.1);
}

#edit-watch-list :active {
  transform: scale(1.1);
}

#popup-watch-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141313;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 4px 3px 10px rgb(251 219 219 / 18%);
  z-index: 1000;
  text-align: center;
  color: #b5cecf;
  font-size: 12px;
  font-weight: 500;
  font-family: monospace;
  width: 90%;
  max-width: 280px;
  height: 400px;
  overflow-y: auto;
}

#search-bar {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #000000;
  color: whitesmoke;
}

.watch-list-stock-item {
  display: flex;
  justify-content: center;
  background-color: #151b23;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: small;
}

.watch-list-stock-item:last-child {
  border-bottom: none;
}

.watch-list-stock-item span {
  flex: 1;
}

#watch-search-container {
  position: absolute;
  top: 69px;
  left: 0;
  background-color: #2c3949;
  border: 1px solid #323232;
  overflow-y: auto;
  margin: 0 5px 0 5px;
  overflow-x: hidden;
  z-index: 1051;
  min-height: 50px;
  min-width: 95%;
  padding: 2px 3px;
  font-size: 11px;
  color: rgb(188, 188, 188);
}

.watch-list {
  border: 2px solid #151b23;
  padding: 2px 3px;
  border-radius: 5px;
}

.watch-result-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding: 13px 7px;
  list-style-type: none;
}

.watch-result-item button {
  padding: 2px 4px;
  border: none;
  border-radius: 5px;
  background-color: #212224;
  color: rgb(92, 206, 86);
}

.watch-result-item button:hover {
  background-color: #569c8e;
  transform: scale(0.9);
  color: black;
}

.watch-result-item button:after {
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .orders-list {
    max-width: 97vw;
    padding: 5px 2px;
  }

  #depth-toolbar {
    max-width: 330px;
    overflow-x: auto;
    padding: 5px 2px;
  }
}

#auto-popup {
  position: absolute;
  text-align: center;
  background-color: #313537;
  border: 1px solid #000000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 4px;
  z-index: 1000;
  border-radius: 5px;
  opacity: 0.95;
  color: whitesmoke;
  font-size: 12px;
  width: 120px;
}

#auto-popup button {
  min-width: 30px;
  padding: 3px 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #007bff;
  transition: background-color 0.2s ease;
}

#dynamic-popup-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#dynamic-popup-title {
  flex: 1;
  text-align: center;
}

#btn-close-dynamic-popup {
  margin-top: -20px;
}

#main-graph {
  background-color: #1a1c28;
  display: none;
  margin-bottom: 12px;
  width: 100%;
}

@media (max-width: 450px) {
  #candle-stick {
    display: grid;
    justify-content: center;
    width: 95vw;
  }
}

#control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: #1b1a1a;
  color: whitesmoke;
  font-size: 12px;
}

#control-bar button {
  background-color: #1d90f5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  min-width: 50px;
}

#control-bar span {
  margin-right: 10px;
}

#control-bar button:hover {
  transform: scale(1.05);
  background-color: #0074d9;
}

#control-bar button:active {
  transform: scale(0.95);
}

#control-bar select {
  color: black;
  width: 40px;
  height: 16px;
  font-size: 10px;
  border-radius: 2px;
  background-color: #b8b8b8;
}

.back-button {
  background-color: #b4dcff;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  height: 28px;
}

.back-button:hover {
  transform: scale(1.05);
  background-color: #8dcaff;
}

.back-button:active {
  transform: scale(0.95);
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.graph-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  max-width: 400px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.graph-slider:hover {
  opacity: 1;
}

.graph-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #658bff;
  cursor: pointer;
}

.graph-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #55b2fe;
  cursor: pointer;
}

.graph-slider-text {
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-container {
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #aaaaaa;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.view-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: #1b1a1a;
  font-size: 12px;
  font-weight: 600;
  color: whitesmoke;
}

.view-bar span {
  margin-right: 10px;
}

#candle-graph-close {
  margin-top: -2px;
  margin-right: 2px;
}

.modify-order {
  padding: 2px;
}

.modify-order input {
  width: 60px;
  height: 15px;
  border-radius: 3px;
  color: black;
  padding: 2px;
  margin-right: 4px;
}

.modify-order button {
  width: 40px;
  font-size: 9px;
  border-radius: 3px;
  color: black;
  padding: 2px;
  margin-left: 4px;
  background-color: #00ccff;
}

.modify-order button :hover {
  background-color: rgb(74, 74, 254);
}

#close-modify-order {
  top: 30px;
  right: 30px;
}

#analyze-container-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #151b23;
  gap: 30px;
  border: 1px solid rgb(13, 49, 56);
  background-color: #0f141b;
  border-radius: 10px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.tabs button {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: double;
  border: none;
  transition: background-color 0.3s ease;
  height: 30px;
  min-width: 60px;
}

.tab-button {
  padding: 0px 10px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  color: #595959;
}

.tab-button:hover {
  background-color: #e0dcdc;
}

/* Styling for active tab */
.tab-button.active {
  background-color: #315c81;
  color: #fff;
}

/* Styling for tab panels */
.tab-panel {
  display: none;
  padding: 20px;
}

.tab-panel.active {
  display: block;
}

#marketDropdown {
  padding: 10px;
  border: 1px solid #8cc4fb30;
  border-bottom: none;
  background-color: #27d0ff0a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#marketDropdown label {
  margin-bottom: 5px;
  display: block;
  font-size: 15px;
  color: #c2c2c2;
  font-weight: 600;
}

.sub-dropdown {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
}

#marketDropdown select {
  width: 120px;
  padding: 3px 0px;
  border: 1px solid #414141;
  border-radius: 4px;
  background-color: #232020;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #a9a4a4;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

/* Base styles for the dropdown container */
.custom-select-wrapper {
  display: block;
  justify-content: center;
  position: relative;
  user-select: none;
  min-width: 70vw;
  max-width: 70vw;
}

/* Styles for the dropdown trigger */
.custom-select__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}

.custom-select__trigger span {
  margin-right: 10px;
}

/* Arrow icon in the trigger */
.arrow-2 {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
}

/* Styles for the dropdown options */
.custom-options {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
  max-height: 200px;
  /* Set a max-height for the dropdown */
  overflow-y: auto;
  /* Add scroll for overflow */
  width: calc(100% - 2px);
  /* Adjust width to fit the container */
}

.custom-option {
  display: block;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  /* Add a separator between options */
}

.custom-option:last-child {
  border-bottom: none;
  /* Remove bottom border for the last option */
}

.custom-option:hover {
  background-color: #e9e9e9;
}

/* Highlight selected options */
.custom-option.selected {
  background-color: #4caf50;
  /* Green background for selected items */
  color: white;
  /* White text color for better contrast */
}

/* Styles for the button to get selected values */
.custom-select__button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-select__button:hover {
  background-color: #555;
}

.custom-select.open .custom-options {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.graphList {
  display: block;
}

#analyze-table-list {
  display: grid;
  justify-content: center;
  width: 100%;
  max-height: 385px;
  overflow-y: scroll;
}

#analyze-table-list table {
  width: 100%;
  border-collapse: collapse;
}

#analyze-table-list th,
#analyze-table-list td {
  border: 0.3px solid #2c2d2f;
  padding: 10px;
  text-align: center;
}

#analyze-table-list th {
  background-color: #232e47;
  font-weight: bold;
}

/* Alternating row colors */
#analyze-table-list tr:nth-child(even) {
  background-color: #1c1c1c;
}

#analyze-table-list table tr:hover {
  background-color: #1dd6e37a;
}

/* Responsive styles for laptop and mobile */
@media (max-width: 768px) {
  #analyze-table-list th,
  #analyze-table-list td {
    padding: 1px;
    font-size: 11px;
  }

  .custom-select-wrapper {
    min-width: 100vw;
  }
}

a {
  text-decoration: none;
  color: rgb(205, 185, 185);
  cursor: pointer;
  transition: all 0.7s ease;
}

a:hover {
  text-decoration: dotted;
  text-decoration-color: #151515;
}

#holding-list {
  background-color: #2a2323;
  border: 1px solid #595959;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

#holdings-container {
  margin-top: 30px;
}

.holding-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  padding: 5px;
  background-color: #242b40;
  color: whitesmoke;
  border-bottom: 1px solid #595959;
  font-size: 13px;
  width: 50vw;
  min-width: 340px;
}

.holding-item span {
  min-width: 80px;
}

.holding-item:last-child {
  border-bottom: none;
}

.holding-item span {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#automation-container {
  justify-self: center;
  justify-items: center;
}

#automation-container .auto-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#automation-container .result-item button {
  max-width: 50px;
}

#automation-container .result-item {
  padding: 7px 5px;
}

#automation-container .result-item {
  border-bottom: none;
}

#automation-container .results-list {
  min-width: 300px;
}

.auto-results-list {
  list-style: none;
  padding: 10px 5px;
  color: white;
}

.auto-results-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  border: 1px solid #2d2e34;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #1c1d22;
}

.auto-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  color: rgb(207, 207, 207);
}

.auto-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #0056b3;
  font-weight: 500;
}

.rotate-item {
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.expanding-feature {
  font-family: Arial, sans-serif;
}

.expand-btn {
  display: flex;
  justify-content: flex-end;
}

.expand-btn-process {
  display: flex;
  justify-content: flex-start;
}

.msg-count {
  color: #000000;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 10px;
  font-weight: 600;
  padding: 1px 2px;
  border-radius: 10%;
  margin-top: -20px;
  width: auto;
}

.expand-btn :hover {
  transform: scale(1.05);
}

.auto-message {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 1px;
  border: 1px solid #203628;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  transition: all 0.5s ease;
}

.message-item {
  padding: 5px 0;
  border-bottom: 1px solid #81bcff2b;
  color: rgb(198, 195, 160);
  font-weight: 500;
  font-size: 10px;
}

.message-item:last-child {
  border-bottom: none;
}

.auto-controls {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auto-controls .close-modal {
  display: flex;
  align-self: flex-end;
}

.auto-controls .play {
  cursor: pointer;
  transition: all 1s ease;
}

.auto-controls .play :hover {
  transform: scale(1.05);
}

.hammer {
  position: relative;
  animation: hammerSwing 1s ease-in-out infinite;
  transform-origin: bottom center;
  /* Change the anchor point to the bottom of the icon */
}

@keyframes hammerSwing {
  0%,
  100% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(15deg);
  }

  30% {
    transform: rotate(28deg);
  }
}

#close-order-form {
  align-self: self-end;
  margin-top: -24px;
}

.place-order-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overlay-form {
  color: wheat;
  font-size: 12px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: rgb(70 40 130 / 80%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 100;
  border-radius: 2px;
  padding: 4px;
}

/* From Uiverse.io by mahiatlinux */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px;
  min-width: 370px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aaa;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #f1f1f1;
  font-weight: 600;
}

.inputForm {
  position: relative;
  border: 1.5px solid #333;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: #2b2b2b;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  color: #f1f1f1;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flexRow > div > label {
  color: #f1f1f1;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #2d79f3;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: #f1f1f1;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #333;
  background-color: #2b2b2b;
  color: #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

.form-card-input {
  all: unset;
}

.form-card-input {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 25px;
  text-align: start;
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
  position: absolute;
  z-index: 1;
  background-color: transparent;
  color: #f1f1f1;
}

/* From Uiverse.io by vinodjangid07 */
.page-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-350px);
  }
}

.loader-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #223539;
  z-index: 10002;
}

.auto-item-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

#meterConsole {
  padding: 10px;
  border: 1px solid #8cc4fb30;
  border-radius: 5px;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  padding: 35px 40px 12px;
  border-radius: 3px;
  justify-content: center;
}

.wrapper-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.74);
  margin: 30px 0 15px;
  font-weight: normal;
}

.heart {
  margin: 0 8px;
  display: inline-block;
  animation: simplePulse ease-in-out 1.1s infinite;
}

.gauge {
  display: grid;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #e7e7e7;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.01),
    0 0 35px 5px rgba(255, 255, 255, 0.2);
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #e7e7e7 0%, #cfcfcf 100%);
}

.gauge.min-scaled {
  transform: scale(0.5);
}

.gauge-center {
  content: "";
  color: #fff;
  width: 40%;
  height: 40%;
  background: #362b2b;
  border-radius: 100px 100px 0 0;
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 21%;
  bottom: 0;
  color: #fff;
  text-align: center;
  top: 60px;
  left: 60px;
}

.gauge-center .label,
.gauge-center .number {
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: center;
  border: 0 !important;
}

.gauge-center .label {
  font-size: 0.55em;
  opacity: 1;
  margin-top: 0px;
}

.gauge-center .number {
  margin-top: 5px;
  font-size: 0.7em;
}

.needle {
  width: 78px;
  height: 7px;
  background: #ff2626;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 5px;
  position: absolute;
  bottom: 4px;
  left: 23px;
  transform-origin: 100% 4px;
  animation: speed 5s infinite;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
  transition: transform 0.3s ease-in-out;
  transform: rotate(70deg);
  border: 1px solid black;
  top: 90px;
}

.slice-colors {
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f4ff8d;
  border-right: 16px solid #36b736;
  border-bottom: 16px solid red;
  border-left: 16px solid #ff002d;
  width: 201px;
  height: 201px;
}

.speedometer-hint {
  display: flex;
  font-size: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.chartCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartBox {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px rgba(54, 163, 235, 0.272);
  background: #0f141b;
}

#comparisonDropdown {
  padding: 5px;
  border: 1px solid #8cc3fb4e;
  border-radius: 5px;
  background-color: #0f141b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

#comparisonDropdown label {
  display: block;
  font-size: 16px;
  color: #cfcccc;
  font-weight: 600;
  text-align: center;
  margin-right: 10px;
}

#comparisonDropdown select {
  width: 60px;
  padding: 3px;
  border: 1px solid #8cc3fb45;
  border-radius: 4px;
  background-color: #0f141b;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #c5c1c1;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

#comparisonDropdown:focus {
  outline: none;
  border-color: #007bff18;
  text-align: center;
}

.custom-radio {
  display: flex;
  align-items: center;
}

.radio-input {
  width: 12px;
  height: 12px;
  accent-color: #4caf50;
  margin-right: 10px;
  margin-left: 10px;
}

.radio-label {
  font-size: 12px;
  color: #333;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.order-extra-inf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.order-extra-inf span {
  font-size: 11px;
  font-family: monospace;
  color: #9696c86e;
}

.orders-list #left-components {
  width: 100%;
  border-right: 1px solid #373737;
  padding-right: 2px;
}

.scroll-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75vh;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 450px) {
  .tabs button {
    font-size: 14px;
    height: 35px;
  }

  .tab-button {
    padding: 0 3px;
  }

  #nav-bar {
    height: 38px;
  }

  .user-profile {
    height: 30px;
    width: 30px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode";
  }

  .search-input {
    width: 300px;
    padding: 14px;
  }

  #main-container {
    padding: 1px;
  }

  #home-container {
    padding: 0;
  }

  #nifty-tag {
    font-size: 14px;
    width: 230px;
  }

  .nifty-tag-title {
    font-size: 18px;
  }

  .order-tag-title {
    font-size: 15px;
  }

  #orders-tag {
    font-size: 12px;
  }

  .order-tag {
    min-width: 150px;
  }

  .single-order-list {
    font-size: 13px;
  }

  .buy-order-list label {
    font-size: 12px;
  }

  #edit-watch-list {
    font-size: 1.1em;
    line-height: 0.05em;
    vertical-align: -0.075em;
    margin-bottom: 5px;
  }

  #save-watch-list-local {
    font-size: 1.1em;
    line-height: 0.05em;
    vertical-align: -0.075em;
    margin-bottom: 5px;
  }

  .tooltip .tooltiptext {
    width: 90px;
    font-size: 12px;
    height: 20px;
    padding-top: 10px;
    margin-left: -70px;
  }

  .range {
    margin: 4px 0 2px;
    margin-right: auto;
    margin-left: auto;
  }
}

#orders-tag .order-tag:hover {
  border-color: rgb(77, 77, 197);
  background-color: #10272b;
  transition: all 0.4s ease;
}

.scroll-box .nifty-tag {
  border: 0.5px solid rgba(0, 0, 0, 0);
}

.scroll-box .nifty-tag:hover {
  background-color: #193d43;
  transition: all 0.4s ease;
  border-color: rgb(77, 77, 197);
}

@media (min-width: 700px) {
  .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  width: 90px;
  font-size: 12px;
  height: 20px;
  margin-left: -95px;
  margin-top: 10px;
  }
  .scroll-box {
    margin-top: 5px;
  }
  .orders-list {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }

  .orders-list #left-components {
    width: 30%;
    border-right: 1px solid #373737;
    padding-right: 2px;
  }

  .orders-list #right-components {
    width: 70%;
    padding-left: 20px;
  }

  .search-input {
    max-width: 60%;
  }

  .search-container {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

/* Scrollbar Styles */
.scroll-box::-webkit-scrollbar,
.orders-list #left-components::-webkit-scrollbar {
  width: 8px;
  background-color: #1a1a1a;
}

.scroll-box::-webkit-scrollbar-track,
.orders-list #left-components::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb,
.orders-list #left-components::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 4px;
  border: 2px solid #1a1a1a;
}

.scroll-box::-webkit-scrollbar-thumb:hover,
.orders-list #left-components::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

/* For Firefox */
.scroll-box,
.orders-list #left-components {
  scrollbar-width: thin;
  scrollbar-color: #2d2d2d #1a1a1a;
}
